<launch>
    <arg name="parent_frame" default="l_link7"/>
    <arg name="child_frame" default="camera_l_link"/>

    <node pkg="tf" type="static_transform_publisher" name="left_camera_tf_broadcaster"
        args="-0.08572244 0.03893551 0.00760923 0.01432994 -0.00372411 -0.70252555 0.71150449 $(arg parent_frame) $(arg child_frame) 100" />

</launch>