<?xml version="1.0"?>
<launch>
    <!-- Core mode switch: "voxel_rrt" or "aabb_apf" -->
    <arg name="obstacle_avoidance_mode" default="aabb_apf" />

    <!-- Parameters -->
    <arg name="workdir" default="/home/fang/catkin_ws/map" />
    <arg name="input_bt" default="$(arg workdir)/hard.bt" />

    <!-- Perception parameters -->
    <arg name="table_min_z" default="0.4" />
    <arg name="table_max_z" default="1.1" />
    <arg name="plane_distance" default="0.03" />
    <arg name="workspace_xy_margin" default="0.03" />
    <arg name="workspace_z_min_offset" default="-0.02" />
    <arg name="workspace_z_max_height" default="0.60" />
    
    <arg name="cleaned_bt" default="cleaned_map.bt" />
    <arg name="output_json" default="segmentation_result.json" />

    <param name="obstacle_avoidance_mode" value="$(arg obstacle_avoidance_mode)" />
    
    <node pkg="map_process" type="process_octomap_markers.py" name="map_process" output="screen">
        <param name="obstacle_avoidance_mode" value="$(arg obstacle_avoidance_mode)" />

        <param name="input_bt" value="$(arg input_bt)" />
        <param name="workdir" value="$(arg workdir)" />
        <param name="table_min_z" value="$(arg table_min_z)" />
        <param name="table_max_z" value="$(arg table_max_z)" />
        <param name="plane_distance" value="$(arg plane_distance)" />
        <param name="workspace_xy_margin" value="$(arg workspace_xy_margin)" />
        <param name="workspace_z_min_offset" value="$(arg workspace_z_min_offset)" />
        <param name="workspace_z_max_height" value="$(arg workspace_z_max_height)" />
        <param name="cleaned_bt" value="$(arg cleaned_bt)" />
        <param name="output_json" value="$(arg output_json)" />
    </node>
</launch>
