<launch>
    <arg name="rviz_gazebo_config" default="$(find dual_75b_arm_rmg24_moveit_config)/launch/moveit.rviz"/>
    <arg name="pipeline" default="ompl"/>
    <arg name="load_baseline_rrt_pipeline" default="true"/>
    <arg name="load_dual_rrt_pipeline" default="true"/>
    <include file="$(find dual_75b_arm_rmg24_moveit_config)/launch/move_group.launch">
        <arg name="pipeline" value="$(arg pipeline)" />
        <arg name="load_baseline_rrt_pipeline" value="$(arg load_baseline_rrt_pipeline)" />
        <arg name="load_dual_rrt_pipeline" value="$(arg load_dual_rrt_pipeline)" />
        <arg name="publish_monitored_planning_scene" value="true" />
    </include>
    <include file="$(find dual_75b_arm_rmg24_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(arg rviz_gazebo_config)" />
    </include>

</launch>
